/*For design properties*/

body {
    font-family: 'Arial', 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
  }

  ul.right-links {
    list-style-type:none;
    gap: 15px;
  }

/*For flex properties*/

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    min-height: 600px;
}

.header {
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.header-logo {
    padding-right: 500px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.right-links {
    display: flex;
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
}

.top-content-one {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.top-content-two {
    margin-bottom: 10px;
}

.hero-container {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    margin-top: 75px;
}

.hero {
    display: flex;
    flex-direction: column;
    max-width: 475px;
    color: #E5E7EB;
    font-size: 18px;
    gap: 5px;
}

.hero-image {
    width: 600px;
}

.top-button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: transparent;
    font-weight: bold;
    padding: 10px 40px;
    max-width: fit-content;
    border-radius: 8px;
}

.top-two {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    min-height: 500px;
    justify-content: baseline;
}

.header-two {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 50px;
}

ul.cards-list {
    display: flex;
    padding-left: 0px;
    margin-left: 15px;
    margin-right: 15px;
    gap: 70px;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.farm-section,
.farm-section-two,
.farm-section-three,
.farm-section-four {
    display: flex;
    flex-direction: column;
    max-width: 180px;
}

.farm-image,
.fishing-image,
.mart-image,
.mining-image {
    border-radius: 10px;
    border: 5px solid #3882F6;
}

.middle {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    min-height: 500px;
    justify-content: center;
    align-items: center;
}

.quote-section {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    color: #1F2937;
    font-weight: 800;
}

.bottom {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}

.blue-container {
    display: flex;
    height: 125px;
    width: 1100px;
    background-color: #3882F6;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    gap: 200px;
}

.call-section {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}

.call {
    display: flex;
    font-size: 24px;
    font-weight: bold;
}

.call-sub {
    font-size: 18px;
}

.bottom-button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-style: solid;
    border-color: #F9FAF8;
    font-weight: bold;
    padding: 10px 40px;
    max-width: fit-content;
    border-radius: 8px;
}

.bottom-two {
    display: flex;
    height: 80px;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}